h1{

}

.control-group {

    margin-bottom: 20px;
}

.requiredField {
    padding-bottom: 0px;
}

.control-label{
    
}

label {
    margin: 0px;
}

body {

}

.container {
    margin: 0 auto;
    padding-left: 20%;
}

