{% extends "Home/base.html" %}

{%  load crispy_forms_tags  %}

{% block title %}


<nav class="navbar navbar-dark" style="filter: drop-shadow(0 0 0.75rem grey); z-index:20; width:100%; position:fixed; top: 0px; background-color: white;">
  <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav navbar-left pull-left">
          <li class="nav-item">
            <a class="nav-link" href="#"> <h1 style="font-size: large; color: black;"> <strong> LOG IN </strong>  </h1> </a></li>
        </ul>
      </div>
      <div class="navbar-body">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li class="nav-item">
              <a class="nav-link" href="/register/" style="color:black">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-user-plus"></i>
                </span> Sign Up </a></li>
        </ul>
      </div>
  </div>
</nav>

{% endblock title %}

  {% block login %}

  <style>
    html, body {
      background-color: lightgray;
    }

    .buttonHolder {
      padding-top: 2%;
    }
  </style>
    <script>
      $(document).ready(function(){
          $("#loginFail").modal('show');
      });
    </script>

  <div id="gathering" style="padding-top: 15%">
    <div class="container" style="color:black; width: 50%; padding: 2%; margin-top: 30%; margin-bottom: 15%; margin: 0 auto; border-radius: 25px; filter: drop-shadow(0 0 0.75rem grey); background-color: white; z-index: -1;">
      {%  crispy Loginform Loginform.helper  %}
      <br>
      <!-- data-toggle="modal" data-target="#myModal" -->
      {% for message in messages %}
        <div class="modal fade" id="loginFail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: red; font: border-style;">ERROR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                {{ message }}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <p> <a href="/register"> Register here </a> if you dont have an account yet</p> 
    </div>
  {% endblock login %}
