
{% extends "ImageFlow/base.html" %}

{%  load static  %}

{%  load crispy_forms_tags  %}

{% block title %}
  {% include 'navbar.html' with PageName='Image Analysis 📈' %}
  <!-- <link href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css" rel="stylesheet"> -->

<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.0/dist/extensions/export/bootstrap-table-export.min.js"></script>


<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/> -->
 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
  
{% endblock title %}

  {% block taskResults %}
 
    <div class="container" id="analysis" style="margin: 0 auto; z-index:-1; margin-top:15%; margin-bottom: 10%;">
      <h2>Datasets Results Table</h2>
      <div id="analysisForm">
        {%  crispy form form.helper  %}
        
        {%  load static  %}
      </div>
          <div class="list-group">
            <div class="d-flex w-100 justify-content-between" >

              <table class="table table-dark" id="resultsTable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Dataset id</th>
                    <th scope="col">Platform</th>
                    <th scope="col">From Date</th>
                    <th scope="col">To Date</th>
                    <th scope="col">subReddit</th>
                    <th scope="col">4chan board</th>
                    <th scope="col">Country</th>
                    <th scope="col">Status</th>
                    <th scope="col"># Images</th>
                    <th scope="col"># Duplicates</th>
                  </tr>
                </thead>
                <tbody>
                  {% for taskArgs in tasksData %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>
                        {{taskArgs.0}}
                      </td>
                      <td>
                        {{taskArgs.1}}
                      </td>
                      <td>
                        {{taskArgs.2}}
                      </td>
                      <td>
                        {{taskArgs.3}}
                      </td>
                      <td>
                        {{taskArgs.4}}
                      </td>
                      <td>
                        {{taskArgs.5}}
                      </td>
                      <td>
                        {{taskArgs.6}}
                      </td>
                      {% if taskArgs.9 == "SUCCESS" %}
                        <td>  
                          {{taskArgs.9}}  
                        </td>
                        <td>
                          {{taskArgs.7}}
                        </td>
                        <td>
                          {{taskArgs.8}}
                        </td>
                      {% elif taskArgs.9 == "PROGRESS" %}
                        <td>  
                          {{taskArgs.9}}  
                        </td>
                        <td>
                          Wait for Task to Complete
                        </td>
                        <td>
                          Wait for Task to Complete
                        </td>
                      {% else %}
                        <td>  
                          {{taskArgs.9}}  
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

    </div>
    

    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script> 

    document.getElementById("menu_analysis").style.display = "none";
    // vanilla JS version
      document.addEventListener("DOMContentLoaded", function () {
        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
        CeleryProgressBar.initProgressBar(progressUrl);
      });


        $('#resultsTable').DataTable();

    </script>


  {% endblock taskResults %}

  

