{% extends "ImageFlow/base.html" %}


{%  load crispy_forms_tags  %}

{% block title %}
    {% include 'navbar.html' with PageName='Image Gathering 🔎 ' %}
    
{% endblock title %}


{% block input %}      
<script>
    $(document).ready(function(){
        $("#CHANGETHIS").modal('show');
        document.getElementById("menu_gather").style.display = "none";
        document.getElementById("id_choice_platform_1").checked = true;

        /* Reddit Trigger */
        document.getElementById("id_choice_platform_1").addEventListener("change", function() {
          var reddit_input = document.getElementById("id_choice_platform_1").checked;
          console.log(reddit_input);
          if (reddit_input == true) {
            console.log("Reddit radio clicked.");
            document.getElementById("div_id_subReddit").style.display = "block";
            document.getElementById("div_id_access_token").style.display = "none";
            document.getElementById("div_id_board").style.display = "none";
            document.getElementById("div_id_Country").style.display = "none";
            document.getElementById("div_id_access_key").style.display = "none";
            document.getElementById("div_id_access_secret_key").style.display = "none";
            document.getElementById("div_id_api_key").style.display = "none";
            document.getElementById("div_id_api_secret_key").style.display = "none";
            document.getElementById("div_id_hashtags").style.display = "none";
            
          }
      });

        /* Facebook Trigger */
        document.getElementById("id_choice_platform_2").addEventListener("change", function() {
          var facebook_input = document.getElementById("id_choice_platform_2").checked;
          console.log(facebook_input);
          if (facebook_input == true) {
            console.log("Facebook radio clicked.");
            document.getElementById("div_id_access_token").style.display = "block";
            document.getElementById("div_id_subReddit").style.display = "none";
            document.getElementById("div_id_board").style.display = "none";
            document.getElementById("div_id_Country").style.display = "none";
            document.getElementById("div_id_access_key").style.display = "none";
            document.getElementById("div_id_access_secret_key").style.display = "none";
            document.getElementById("div_id_api_key").style.display = "none";
            document.getElementById("div_id_api_secret_key").style.display = "none";
            document.getElementById("div_id_hashtags").style.display = "none";
          }

      });

        /* Twitter Trigger */
        document.getElementById("id_choice_platform_3").addEventListener("change", function() {
          var twitter_input = document.getElementById("id_choice_platform_3").checked;
          console.log(twitter_input);
          if (twitter_input == true) {
            console.log("Twitter radio clicked.");
            document.getElementById("div_id_access_token").style.display = "none";
            document.getElementById("div_id_subReddit").style.display = "none";
            document.getElementById("div_id_board").style.display = "none";
            document.getElementById("div_id_Country").style.display = "none";
            document.getElementById("div_id_access_key").style.display = "block";
            document.getElementById("div_id_access_secret_key").style.display = "block";
            document.getElementById("div_id_api_key").style.display = "block";
            document.getElementById("div_id_api_secret_key").style.display = "block";
            document.getElementById("div_id_hashtags").style.display = "block";
            
          }

      });

        /* 4Chan Trigger */
        document.getElementById("id_choice_platform_4").addEventListener("change", function() {
          var fourchan_input = document.getElementById("id_choice_platform_4").checked;
          console.log(fourchan_input);
          if (fourchan_input == true) {
            console.log("4Chan radio clicked.");
            document.getElementById("div_id_access_token").style.display = "none";
            document.getElementById("div_id_subReddit").style.display = "none";
            document.getElementById("div_id_board").style.display = "block";
            document.getElementById("div_id_Country").style.display = "block";
            document.getElementById("div_id_access_key").style.display = "none";
            document.getElementById("div_id_access_secret_key").style.display = "none";
            document.getElementById("div_id_api_key").style.display = "none";
            document.getElementById("div_id_api_secret_key").style.display = "none";
            document.getElementById("div_id_hashtags").style.display = "none";
          }

      });

    });


  </script>
  <div class="container" id="gathering" style="margin-top:15%;">
    <div class="text-left float-left pull-left">

      {%  crispy gather_form gather_form.helper  %}
    </div>
  </div>
      {% for message in messages %}
        <div class="modal fade" id="CHANGETHIS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: red; font: border-style;">WARNING</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                {{ message }}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>

      {% endfor %}



{% endblock input %}

{% block Image}



{% endblock Image}